
.container-caracteristicas {
  display: flex;
  gap: 2rem;
}
.direito{

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.direito img {
  width: 100vh;
}
.direito h2 {
  font-size: 2rem;
}
.esquerdo{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}
.esquerdo h2 {
  font-size: 2rem;
}
.esquerdo img {
  width: 100vh;
}