#customers {
  display: flex;
  padding: 2rem;
  justify-content: center;
}
.container-customers {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
.container-customers h2 {
  font-size: 2rem;
  padding: 3rem;
}

.patrocinador{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
}
.patrocinador img {
  width: 40%;
}

@media screen and (max-width:1024px){
  .patrocinador {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width:900px){
  .patrocinador {
    grid-template-columns: repeat(3, 1fr);
  }
}