#share {
  background-color: #CFF2F5;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imagem-poster {
  display: flex;
  justify-content: space-around;
}
.imagem-poster img{
  height: 70vh;
  width: 80%;
  margin-top: -100px;
}

.colecao {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 1rem;
  width: 60vw;
}
.colecao h2{
  font-size: 2rem;
}
